<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  DocumentRoot {{ document_root }}

  <Directory {{ document_root }}>
    Require all granted
  </Directory>

  ErrorLog {{ log_dir }}/error.log
  CustomLog {{ log_dir }}/access.log combined
</VirtualHost>