opcache.enable=1
opcache.memory_consumption={{ opcode_cache_size }}
opcache.interned_strings_buffer=32
opcache.max_accelerated_files=5003
opcache.revalidate_freq=1
opcache.fast_shutdown=1
opcache.enable_cli=1
opcache.load_comments=1

apc.shm_size={{ apc_cache_size }}