[Server]
IpAddress = 127.0.0.1
Port = 1111
IndexPath = /tmp
LogFile = /var/log/ilServer.log
LogLevel = INFO
NumThreads = 1
RamBufferSize = 256
IndexMaxFileSizeMB = 500

[Client1]
ClientId = ilias3-unibe
NicId = 0
IliasIniPath = /vagrant/www/ilias.ini.php